:root{
  
  --pink_primary:rgb(238,177,213);
  --pink_secondary:rgb(233,70,165);
  --text_color:rgb(255, 255, 252);

  
  
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*title bar*/

header{
  max-width: 100%;
  text-align: center;
  padding:1rem 1.5rem;
  box-shadow: 1px 1px 1px #f1f1f1;
}
.prega{
 color:var(--pink_primary);
 font-family: 'Playfair Display';
 font-size: 3rem;
}

/*hamburer icon*/
.hamburger {
        display: inline-block;
        cursor: pointer;
        padding: 15px 20px;
        position: absolute;
        top: 15px;
        right: 20px;
        user-select: none;
        border: none;
        background-color: none;
}

.hamburger-box {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;
        border: none;
        background-color: none;
}

.hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
        border: none;
        background-color: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
        width: 30px;
        height: 4px;
        background-color: var(--pink_primary);
        
        position: absolute;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
 }

.hamburger-inner::before,
.hamburger-inner::after {
        content: "";
        display: block;
      }

.hamburger-inner::before {
        top: -10px;
      }

.hamburger-inner::after {
        bottom: -10px;
      }

/* Animate the hamburger menu on hover */
.hamburger:hover .hamburger-inner::before {
        top: -13px;
      }

.hamburger:hover .hamburger-inner::after {
        bottom: -13px;
      }

.hamburger:hover .hamburger-inner {
        transform: scale(0.8);
      }
 
/*hamburger icon options*/
.menu-options {
  position: fixed;
  top: 2px;
  right: 2px;
  width: 200px; /* adjust as needed */
  height: 40%;
  background-color:var(--pink_primary);
  
  z-index: 9999;
  display: none;
}

.menu-options.active {
  display: block !important;
}

.menu-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-options ul li {
  margin: 10px 0;
}

.menu-options ul li a {
  display: block;
  font-size: 16px;
  color: var(--text_color);
  text-decoration: none;
  padding: 10px;
}

.menu-options ul li a:hover {
  background-color: var(--pink_secondary); 
}





/*nav-bar*/
ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--pink_primary);
}

a:hover{
  color: var(--pink_secondary);
}

.div_nav{
  
 align-items: center;
 text-align: center;
}


ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-item{
  margin-left:  2rem;
  
}



nav{
  background: #ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
}

.nav{
  position: sticky;
  top:0;
  left:0;
  z-index:1;
}
